.carousel-image {
    height: 370px;
    width: 630px;

}
.msmarvel-image{
  width: 100%;
  height: auto;
  max-width: 350px;
  max-height: 670px;
}
.riri-image{
  width: 100%;
  height: auto;
  max-width: 350px;
  max-height: 675px;
}
.carousel-caption {
    font-size: 100px;
}


.jumbotron{
    color: black;
}
.bp-image{
  width: 100%;
  height: auto;
  max-width: 350px;
  max-height: 670px;
}
.index-image{
  width: 100%;
  height: auto;
  max-width: 910px;
  max-height: 450px;
}
.ant-image{
  width: 100%;
  height: auto;
  max-width: 350px;
  max-height: 675px;
}
.spider-image{
  width: 100%;
  height: auto;
  max-width: 350px;
  max-height: 670px;
}
.kb-image{
  width: 100%;
  height: auto;
  max-width: 350px;
  max-height: 670px;
}
.pool-image{
  width: 100%;
  height: auto;
  max-width: 350px;
  max-height: 675px;
}
.kate-image{
  width: 100%;
  height: auto;
  max-width: 350px;
  max-height: 675px;
}
.hulk-image{
  width: 100%;
  height: auto;
  max-width: 350px;
  max-height: 675px;
}
.strange-image{
  width: 100%;
  height: auto;
  max-width: 350px;
  max-height: 675px;
}
.chi-image{
  width: 100%;
  height: auto;
  max-width: 350px;
  max-height: 675px;
}

.phases-image{
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 680px;
}
.latest-image{
  width: 100%;
  height: auto;
  max-width: 700px;
  max-height: 930px;
}
.stars-image{
  width: 100%;
  height: auto;
  max-width: 620px;
  max-height: 100px;
}
.tomato-image{
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 200px;
}
