.center{
    height: 300px;
    width: 600px;
}

.carousel-item {
    height: 300px;
    width: 600px;
}
.carousel-item {
    height: 300px;
    width: 600px;
}

.carousel-item {
    height: 300px;
    width: 600px;
}
.carousel-caption {
    font-size: 100px;
}


.jumbotron{
    color: black;
}
