.center{
    height: 300px;
    width: 600px;
}

.carousel-item {
    height: 300px;
    width: 600px;

}
.carousel-item {
    height: 300px;
    width: 600px;

}

.carousel-item {
    height: 300px;
    width: 600px;

}
.carousel-caption {
    font-size: 100px;
}


.jumbotron{
    color: black;
}

.class="index-image" {
  width: 100%;
  height: auto;
  max-width: 910px;
  max-height: 450px;
}

.class="spider-image" {
  width: 100%;
  height: auto;
  max-width: 450px;
  max-height: 910px;
}
